@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;
}
a {
    text-align: center;
}

p {

}

.col {
    padding: 10px 10%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-image: linear-gradient(to bottom right, #17fbff, #771cff);
  color: black;
}

.right {
    float: right;
}

.topnav .right a {
    color: black;
    background-image: linear-gradient(to bottom right, #52ff7a, #17fbff);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 15px;
}

.column img {
    max-width: 400px;
}

@media (max-width: 900px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .column img {
      display: none;
  }
  .column {
    float: left;
    width: 90%;
    padding: 15px;
  }
}

.row {
    padding: 20px 10%;
    padding-bottom: 200px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  background-color: white;
  border: 5px solid black;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#email {
    color: white;
    text-decoration: none;
}

/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 40px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color = white;
  background-image: linear-gradient(to bottom right, #52ff7a, #17fbff);
}

/* Add a hover effect if you want */
.fa:hover {
    color: white;
    background-image: linear-gradient(to bottom right, #17fbff, #771cff);
}
